import { <%=className%>Directive } from '<%=fileName%>.directive';

describe('<%=className%>Directive', () => {
  it('should create an instance', () => {
    const directive = new <%=className%>Directive();
    expect(directive).toBeTruthy();
  });
});
