import { Injectable, inject } from '@angular/core';
import { HttpClient } from '@angular/common/http';

@Injectable({
    providedIn: 'root'
})
export class <%=className%>DataService {
    private readonly http = inject(HttpClient);
}