import { Pipe, PipeTransform } from '@angular/core';

@Pipe({
  name: '<%=pipeSelector%>',
  standalone: true,
})
export class <%=className%>Pipe implements PipeTransform {
  transform(value: unknown, ...args: unknown[]): unknown {
    return null;
  }
}
